# Logs
# Logs
logs
logs
*.log
*.log
npm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-debug.log*
yarn-error.log*
yarn-error.log*
pnpm-debug.log*
pnpm-debug.log*
lerna-debug.log*
lerna-debug.log*

node_modules
node_modules
dist
dist
dist-ssr
dist-ssr
*.local
*.local

# Editor directories and files
# Editor directories and files
.vscode/*
.vscode/*
!.vscode/extensions.json
!.vscode/extensions.json
.idea
.idea
.DS_Store
.DS_Store
*.suo
*.suo
*.ntvs*
*.ntvs*
*.njsproj
*.njsproj
*.sln
*.sln
*.sw?
*.sw?

package-lock.json
package-lock.json

helper_server/__pycache__/*
helper_server/__pycache__/*
helper_server/venv/*
helper_server/venv/*

public/**/*.exr
public/**/*.exr

# train_data/*
# train_data/*

src/lib/wasm/*
src/lib/wasm/*

gallery/**/vid.mp4
gallery/**/vid.mp4

gallery/**/vid.rife.mkv
gallery/**/vid.rife.mkv

public/test
public/test

public/test2
public/test2

public/voxels
public/voxels

public/voxels2
public/voxels2

ball6.png
ball6.png
ball7.png
ball7.png
ball8.png
ball8.png

Bastion.jpg
Bastion.jpg
Bastion.obj
Bastion.obj

ChinaVase.obj
ChinaVase.obj
ChinaVase.png
ChinaVase.png
ChinaVase.jpg
ChinaVase.jpg

smile-face-001.jpg
smile-face-001.jpg
smile-face-001.png
smile-face-001.png
smile-face-002.jpg
smile-face-002.jpg
smile-face-002.png
smile-face-002.png
